@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="text-primary"> <a href="https://www.konusarakogren.com/">Ana Sayfa</a></h4>
    <img src="https://ingilizcekurslari.konusarakogren.com/wp-content/uploads/2019/04/konusarak-ogren-logo.png" />
</div>


<!--<div class="text-center">
    <h4 class="text-primary" <a href="https://www.konusarakogren.com/"></a>Ana Sayfa</h4>-->
    @*<img src="https://ingilizcekurslari.konusarakogren.com/wp-content/uploads/2019/04/konusarak-ogren-logo.png" />*@

<!--</div>-->